{% extends 'base.html' %}

{% block content %}
<h3><strong>Register New User</strong></h3>

<form method="post" style="max-width: 400px;">
    {% csrf_token %}

    {% if messages %}
        {% for message in messages %}
            <div class="alert alert-warning">{{ message }}</div>
        {% endfor %}
    {% endif %}

    <div class="mb-3">
        <label>Username</label>
        <input type="text" name="username" class="form-control" required>
    </div>

    <div class="mb-3">
        <label>Password</label>
        <input type="password" name="password" class="form-control" required>
    </div>

    <button class="btn btn-success">Create User</button>
</form>
{% endblock %}
